.main-wrapper {
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 4px 2px 8px #eaeaea;
  margin-top: 20px;
  margin: auto; }

.main-form {
  display: flex;
  align-items: center; }

#signup {
  max-width: 800px; }

.tag {
  color: #898989;
  font-size: 22px;
  font-family: 'Open Sans'; }

a.btn.btn-warning.btn-sm {
  background: #eeeeee;
  border: 0px; }
  a.btn.btn-warning.btn-sm:hover {
    background: #00000026; }

.main-header {
  text-align: center;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif; }

nav {
  z-index: 1;
  border-bottom: 1px solid #ddd; }

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: #f8f9fa00 !important; }

#signup {
  display: flex;
  flex-direction: column; }
  #signup label {
    margin: 0px; }
  #signup input {
    margin-bottom: 10px;
    padding: 20px; }
  #signup button {
    margin-top: 10px; }

a.nav-link {
  color: #898989 !important; }
  a.nav-link:hover {
    color: #000 !important; }

@media (max-width: 990px) {
  form.main-form {
    flex-direction: column; } }
#showcase {
  background: url(assets/img/abstract-art-candy-desktop.png);
  height: 725px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-position: 0% 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #showcase h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 100px;
    background: #c5c5c599;
    padding: 26px 90px;
    border-radius: 10px;
    font-size: 5.8rem; }
  #showcase .btn {
    background: #99969699;
    color: #fff;
    border-radius: 8px;
    font-size: 27px;
    border: 1px solid;
    font-weight: 500;
    position: relative;
    top: 86px;
    font-family: 'Roboto', sans-serif;
    /* font-family: Open Sans; */
    font-weight: 500;
    padding: 4px 39px; }
    #showcase .btn:hover {
      background: #999696c9; }

section#showcase::after {
  content: '';
  position: relative;
  top: 21%;
  width: 100%;
  height: 200px;
  background-position: center;
  background: url(assets/img/block.png);
  background-size: cover; }

@media (max-width: 1300px) {
  #showcase {
    height: 670px; }
    #showcase h1 {
      font-size: 4.8rem; }

  section#showcase::after {
    top: 20%; } }
@media (max-width: 990px) {
  #showcase h1 {
    font-size: 2.8rem; }

  section#showcase::after {
    top: 24%; } }
@media (max-width: 666px) {
  #showcase h1 {
    padding: 26px 22px; }

  .text-field h1 {
    padding: 0px 23px;
    font-size: 2.2rem; }
  .text-field #main-text {
    font-size: 43px !important; } }
@media (max-width: 550px) {
  #showcase {
    height: 426px;
    background-position: 50% 88%; }
    #showcase h1 {
      padding: 26px 12px;
      font-size: 1.8rem; }
    #showcase .btn {
      font-size: 21px;
      top: 11%; }

  section#showcase::after {
    top: 11%; }

  .text-field #main-text {
    font-size: 35px !important;
    line-height: 42px !important;
    margin: 0px; } }
@media (max-width: 450px) {
  .text-field h1, .text-field#main-text h1 {
    font-size: 34px !important;
    padding: 0px 27px !important; } }
.text-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .text-field h1 {
    font-family: roboto;
    background: #db9c00;
    padding: 0px 50px;
    color: #ffff; }
  .text-field #main-text {
    font-size: 60px;
    line-height: 71px;
    margin: 6px; }

#icons .col-lg-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #icons .col-lg-4 img {
    max-width: 200px; }

#features {
  background: url(assets/img/grid.png);
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 6px; }
  #features h3 {
    font-size: 2.35rem; }
  #features #more {
    text-decoration: underline; }
  #features .text-box {
    display: flex;
    margin: 33px 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-direction: column; }
  #features h2 {
    font-size: 40px;
    border: 3px solid #ffb600;
    padding: 5px 10px;
    border-radius: 8px;
    background: #ffff;
    color: #ffb600; }
  #features #freedom {
    background: #ffb600;
    color: #fff;
    border: 3px solid #ffb600;
    padding: 3px 10px;
    border-radius: 8px; }
  #features #feature-box {
    display: flex;
    align-items: center;
    margin: 44px 0px; }
    #features #feature-box .text-box {
      flex: 1; }
    #features #feature-box img {
      max-width: 510px;
      flex: 1;
      opacity: 0.8;
      border: 1px solid #ddd;
      border-radius: 3px;
      width: 100%; }

@media (max-width: 990px) {
  #features h3 {
    font-size: 1.85rem; }
  #features h2 {
    font-size: 29px; }
  #features #feature-box {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin: 0px; } }
@media (max-width: 850px) {
  .text-field #main-text {
    font-size: 46px; } }
@media (max-width: 550px) {
  #features h3 {
    font-size: 1.35rem; }
  #features h2 {
    font-size: 1.15rem; } }
@media (max-width: 450px) {
  #features h3 {
    font-size: 1.25rem; } }
@media (max-width: 318px) {
  section#showcase::after {
    top: 8%; } }
#featured {
  height: auto;
  box-shadow: none;
  margin: 20px 0px; }

header {
  display: flex !important;
  justify-content: center;
  background: #dddddd3b;
  padding: 20px 50px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin: 10px 0px; }
  header h1 {
    font-size: 2.9rem;
    display: inline;
    border-bottom: 3px solid red;
    padding: 0px 20px; }

#featured-box {
  padding: 10px; }

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center; }

#content {
  display: flex;
  flex-direction: row; }

.col-lg-6.col-md-6 {
  padding: 5px; }

.blog_desc {
  border-bottom: 1px solid #7a7a7a;
  background: #fff;
  margin: 2px 0px;
  margin: 10px 0px; }
  .blog_desc h4 {
    font-family: 'Roboto', sans-serif;
    color: #333; }

@media (max-width: 768px) {
  .blog_desc {
    height: 100%; } }
@media (max-width: 991px) {
  #main-site .container {
    max-width: 100%; } }
.testimonial-box {
  text-align: center;
  background: #ddd;
  height: 300px;
  width: 100%; }

#contact-us {
  background: #d89901;
  padding: 30px 0px;
  margin-top: 30px; }
  #contact-us #contact-box {
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    background: #ffffff4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #contact-us #contact-box h2 {
      font-size: 3rem;
      padding: 9px 10px;
      border-radius: 8px; }
    #contact-us #contact-box a, #contact-us #contact-box button {
      background: #ffffff99;
      color: #000;
      border-radius: 8px;
      font-size: 22px;
      border: 1px solid;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding: 4px 39px;
      margin-bottom: 30px; }

@media (max-width: 490px) {
  #contact-us #contact-box h2 {
    font-size: 2rem !important;
    text-align: center !important; } }
#buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  #buttons form, #buttons a {
    margin-right: 10px; }

#blog_post h1 {
  text-align: center !important;
  font-family: "Roboto", sans-serif !important; }
#blog_post p {
  font-family: "Open Sans", sans-serif !important; }
#blog_post img {
  max-width: 650px !important; }

#post_body {
  white-space: pre-wrap !important; }

div#user-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px;
  border-bottom: 2px solid #9393939c;
  padding: 15px 40px;
  display: flex;
  flex-direction: row; }
  div#user-box #user {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    div#user-box #user i {
      font-size: 20px; }
    div#user-box #user p {
      margin: 0px; }
  div#user-box form {
    display: flex;
    flex-direction: column; }
  div#user-box #fullSettings {
    margin: 10px; }
  div#user-box #moreSettings {
    margin: 10px; }

#user-blogs {
  border: 1px solid #a3a3a3;
  padding: 20px;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 3px;
  background: #fff; }
  #user-blogs:hover {
    border: 1px solid  #333; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; }

#blog-link h4 {
  color: #383838; }
#blog-link p {
  color: #878787; }
#blog-link:hover {
  text-decoration: none;
  text-transform: none; }
  #blog-link:hover h4 {
    color: #000000; }
  #blog-link:hover p {
    color: #000000; }

#uid-edit {
  text-align: center;
  font-size: 43px;
  font-weight: 500;
  height: 100%;
  color: #000;
  font-style: italic; }

#about-edit {
  font-weight: 500;
  text-align: center;
  margin: 8px 0px; }

.img {
  border: 1px solid #000;
  padding: 0px;
  border-radius: 131px;
  max-width: 97px;
  background: #fff;
  margin-right: 30px; }
  .img img {
    max-width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 97px; }

#paging {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center; }

div#paging span, div#paging a {
  background: #3f3f3f61;
  font-size: 30px;
  color: #fff;
  padding: 0px 17px;
  margin: 0px 1px; }

.container {
  max-width: 100%; }

@media (max-width: 1200px) {
  #blog-box, #user-box {
    padding: 0px;
    max-width: 100%; } }
#footer {
  position: relative;
  top: 100%;
  background: #f6f6f6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  #footer p {
    margin: 0px; }

/*# sourceMappingURL=style.css.map */
