#buttons
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  form , a
  {
     margin-right: 10px;
  }
}

#blog_post
{
  h1
  {
    text-align: center !important;
    font-family: 'Roboto', sans-serif!important;
  }
  p
  {
    font-family: 'Open Sans', sans-serif!important;
  }
  img
  {
    max-width: 650px !important;
  }
}

#post_body
{
  white-space: pre-wrap!important;
}

#category
{
  display: block;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px 30px;
}

#blog-cat
{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-weight: 00;
  margin: 16px 0px;
  li
  {
    padding: 10px;
    color: #b60000;
    font-family: 'Roboto';
    text-transform: uppercase;
  }
}
