#buttons
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  form , a
  {
     margin-right: 10px;
  }
}

#blog_post
{
  h1
  {
    text-align: center !important;
    font-family: 'Roboto', sans-serif!important;
  }
  p
  {
    font-family: 'Open Sans', sans-serif!important;
  }
  img
  {
    max-width: 650px !important;
  }
}

#post_body
{
  white-space: pre-wrap!important;
}
