#featured
{
  height: auto;
  box-shadow: none;
  margin: 20px 0px;
}
header
{
  display: flex !important;
  justify-content: center;
  padding: 20px 50px;
  border-top: 1px solid #000000;
  margin:0px;
  padding-top: 30px;
  h1
  {
    font-size: 2.9rem;
    display: inline;
    border-bottom: 3px solid red;
    padding: 0px 20px;
    margin: 0px;
  }
}

#featured-box
{
    padding: 10px;
}

.nav-tabs
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#content
{
  display: flex;
  flex-direction: row;
}

.col-lg-6.col-md-6 {
    padding: 5px
}


.blog_desc
{
  border-bottom: 1px solid #7a7a7a;
  background: #fff;
  margin: 2px 0px;
  margin: 10px 0px;
  h4
  {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
}

#post_date
{
  background: #2d6f9d;
  color: #fff;
  display: inline;
  font-weight: 500;
  padding: 0px 13px;
}

#post_author
{
  display: inline;
  background: #000000c2;
  color: #fff;
  font-weight: 500;
  padding: 0px 13px;
  margin-bottom: 5px;
  a
  {
    color: #fff;
  }
}

@media(max-width:768px)
{
  .blog_desc
  {
    height: 100%;
  }
}

@media(max-width:991px)
{
  #main-site
  {
    .container
    {
      max-width: 100%;
    }
  }
}
