.col-lg-6 .col-md-6
{
  padding: 15px;

}

.blog_desc
{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  height: 362px;
  margin: 10px 0px;

}

@media(max-width:768px)
{
  .blog_desc
  {
    height: 100%;
  }
}
