nav
{
  z-index: 1;
  border-bottom: 1px solid #ddd;
}
#signup
{
  display: flex;
  flex-direction: column;
  label
  {
    margin: 0px;
  }
  input
  {
    margin-bottom: 10px;
    padding: 20px;
  }
  button
  {
    margin-top: 10px;
  }
}
a.nav-link
{
    color: #898989 ;
    &:hover
    {
      color: #000 ;
    }

    .navbar-nav
    {
      flex: 1;
      display: flex;
      justify-content: center;
      li a
      {
        padding:0px 10px;
        color: red;
      }
    }
}
#user-nav
{

    #category
    {
      flex: 1;
      justify-content: center;
      display: flex;
      li a
      {
        padding: 0px 10px;
        color: red;
      }
    }
    display: flex;
}
#admin-bar
{
  padding: 0px;
  margin: 0px;
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media(max-width:990px){
  form.main-form{
    flex-direction: column;
  }
}
