div#user-box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    border-bottom: 2px solid #9393939c;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    #user
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      i
      {
        font-size: 20px;
      }
      p
      {
        margin: 0px;
      }
    }
    form
    {
      display: flex;
      flex-direction: column;
    }
    #fullSettings
    {
      margin: 10px;
    }
    #moreSettings
    {
      margin: 10px;
    }
}

#user-blogs
{
  border: 1px solid #a3a3a3;
  padding: 20px;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 3px;
  background: #fff;
  &:hover{
      border: 1px solid  #333;
  }
}
.buttons{
  display:flex;
  justify-content:center;
  align-items:center;
}

#blog-link{
  h4{
    color:#383838;
  }
  p
  {
    color: #878787;
  }
  &:hover {
    text-decoration: none;
    text-transform: none;
    h4
    {
      color: #000000;
    }
    p
    {
      color:#000000;
    }
  }
}

#uid-edit
{
  text-align: center;
  font-size: 43px;
  font-weight: 500;
  height: 100%;
  color: #000;
  font-style: italic;
}

#about-edit
{
  font-weight: 500;
  text-align: center;
  margin: 8px 0px;
}

.img
{
  border: 1px solid #000;
  padding: 0px;
  border-radius: 131px;
  max-width: 97px;
  background: #fff;
  margin-right: 30px;
  img
  {
    max-width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 97px;

  }
}

#paging
{
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
}

div#paging span, div#paging a {
    background: #3f3f3f61;
    font-size: 30px;
    color: #fff;
    padding: 0px 17px;
    margin: 0px 1px;
  }
.container
{

  max-width: 100%;
}
  @media(max-width:1200px)
  {
    #blog-box, #user-box
    {
      padding: 0px;
      max-width: 100%;
    }
  }
