div#user-box {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #ddd;
    padding: 40px;
    #user
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      i
      {
        font-size: 20px;
      }
    }
    form
    {
      display: flex;
      flex-direction: column;
    }
    #fullSettings
    {
      margin: 10px;
    }
    #moreSettings
    {
      margin: 10px;
    }
}

#user-blogs
{
  text-align: center;
  border: 2px solid #7492b2;
  padding: 20px;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 8px;
  &:hover{
      border: 2px solid  #007bff;
  }
}
.buttons{
  display:flex;
  justify-content:center;
  align-items:center;
}

#blog-link{
  h4{
    color:#7492b2;
  }
  p
  {
    color: #878787;
  }
  &:hover {
    text-decoration: none;
    text-transform: none;
    h4
    {
      color: #007bff;
    }
    p
    {
      color: #333;
    }
  }
}

#uid-edit
{
  text-align: center;
  font-size: 43px;
  font-weight: 500;
  height: 100%;
  color: #000;
  font-style: italic;
}

#about-edit
{
  font-weight: 500;
  text-align: center;
  margin: 8px 0px;
}
