#showcase
{
  background: url(assets/img/abstract-art-candy-desktop.png);
  height: 659px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-position: 0% 61%;
  position: absolute;
  top: 0px;
}

section#showcase::after
{
  content: '';
  position: absolute;
  top: 468px;
  width: 100%;
  height: 200px;
  background-position: center;
  background: url(assets/img/block.png);
  background-size: cover;
}
